.container {
  display: grid;
  grid-template-columns: auto auto;
  width: 810px;
  margin: auto;
  border-radius: 12px;
  color: #232323;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  padding: 25px 40px;
}
.container:not(:first-child) {
  margin-top: 1.5rem;
}
