.search__input:hover, .search__input:focus{
    border: 1px solid #5d5d5d;
    outline: none;
}

.search__input {
    max-width: 500px;
    min-width: 450px;
    height: 3ch;
    font-size: 24px;
    color: #232323;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
    border: 0px solid #5d5d5d;
    border-radius: 4px;
    transition: border 0.2s;
}

.search__input::placeholder {
    color: #b3b3b3
}

.search__input:-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius:10px;
    background: red;
}